@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
   font-size: 18px;
}

ul {
    list-style: none;
    color: white;
    display: flex;
    gap: 32px;
}

header {
    width: 100%;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
}

.navbar {
    width: 80%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
}

.hero {
    color: white;
    width: 80%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 40%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text p {
    margin: 25px 0;
    font-size: 24px;
    color: #f9faf8;
}

.hero-text button {
    color: white;
    background-color: #3882f6;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}


.hero img {
    width: 800px;
}

main section {
    margin: 0 auto;
}

main h2 {
    font-size: 36px;
    font-weight: bold;

    margin: 30px 0;
    color: #1f2937;
    text-align: center;
}

.main-section1 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-box > p {
    margin-top: 30px;
    width: 80%;
    text-align: center;
    color: black;
}

.main-section1 img {
    width: 200px;
}

.quote-section2 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-section2 .quote {
    width: 70%;
}

.quote  > q { 
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote p {
    color: #1f2937;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    text-align: right;
}


.main-section3 {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section3 .bluebox {
    background-color: #3882f6;
    width: 80%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.bluebox .blue-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.blue-container button {
    font-size: 16px;
    background: none;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 60px;
}

.text-container h3, p {
    color: white;
}

    

/* FOOTER  */

footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

footer .copyright {
    color: white;
}